:root {
  /* Catppuccin Mocha: https://catppuccin.com/palette */
  --base: #1e1e2e;
  --blue: #89b4fa;
  --crust: #11111b;
  --flamingo: #f2cdcd;
  --green: #a6e3a1;
  --lavender: #b4befe;
  --mantle: #181825;
  --maroon: #eba0ac;
  --mauve: #cba6f7;
  --overlay-0: #6c7086;
  --overlay-1: #7f849c;
  --overlay-2: #9399b2;
  --peach: #fab387;
  --pink: #f5c2e7;
  --red: #f38ba8;
  --sapphire: #74c7ec;
  --sky: #89dceb;
  --subtext-0: #a6adc8;
  --subtext-1: #bac2de;
  --surface-0: #313244;
  --surface-1: #45475a;
  --surface-2: #585b70;
  --teal: #94e2d5;
  --text: #cdd6f4;
  --yellow: #f9e2af;
  --rosewater: #f5e0dc;
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: "Space Mono", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a6adc8;
  font-family: "Inconsolata", sans-serif;
}

pre,
code {
  font-family: "Source Code Pro", sans-serif;
}

header {
  display: flex;
}

header a {
  padding: 1rem 0;
  color: var(--subtext-0);
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

header a:hover {
  color: var(--subtext-1);
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  font-size: 0.6rem;
}

a {
  color: var(--green);
  text-decoration: none;
  transition: color 0.5s ease;
}

a:hover {
  color: var(--blue);
}

.site-title {
  user-select: none;
  margin: 0;
}

.site-title a {
  color: var(--subtext-0);
}

.site-title a:hover {
  color: var(--subtext-1);
}

.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.gap-md {
  gap: 2rem;
}

.gap-sm {
  gap: 1rem;
}

.gap-xs {
  gap: 0.5rem;
}

.pill {
  color: var(--blue);
  padding: 0px 8px;
}

.title {
  font-size: 44px;
  margin: 8px 0px;
}
